<!DOCTYPE html>
<html>
<head>
    <title>My Page</title>
</head>
 <body>
    <h1>Генератор картинок Kandinsky</h1>
    <div id="imageContainer"></div>
    <iframe src="https://fusionbrain.ai/diffusion" width="100%" height="600"></iframe>
</body>
</html>