@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <input type="text" id="message" />
        <button type="button" id="sendButton">Send Message</button>
    </div>

    <div id="myOutput"></div>

</div>
