@{
    ViewData["Title"] = "Home Page";
}
    <form asp-controller="Home" asp-action="Index" method="post">
            <div class="panel-body">
                <h2>GPT-3 Для генерации сценария по заданному формату</h2>
            </div>

            <div class="panel-body">
                    <input type="text" id="searchText" name="searchText" value="@ViewBag.Text" class="form-control" autocomplete="off" />
                    <label for="searchText">Имя персонажа</label>
                    <p></p>
                    <label>Следующие поля вводите по желанию</label>
                    <p></p>
                    <input type="text" id="numbersOfOffers" name="numbersOfOffers" value="@ViewBag.Number" class="form-control" autocomplete="off" />
                    <label for="numbersOfOffers">Количество предложений</label>
                    <p></p>
                    <input type="text" id="textStyle" name="textStyle" value="@ViewBag.textStyle" class="form-control" autocomplete="off" />
                    <label for="textStyle">Стиль текста</label>
                    <p></p>
                    <input type="submit" class="btn btn-primary" value="Начать генерацию" />
                    <p></p>
                @if (ViewBag.Answer != null)
                {
                    <div class="textFrame">
                        @Html.Raw(ViewBag.Answer)
                    </div>
                }

            </div>
    </form>