@{
    ViewData["Title"] = "Путеводитель";
}
<h1>@ViewData["Title"]</h1>

<div class="textFrame">
<h2>Наше руководство к эксплуатации.</h2>
    <h3>На этом сайте вы можете найти вкладки:</h3>
<br>
    <h5>* Home - Вернуться на начальную страницу с чатом GPT.</h5>
<br>
    <h5>* Кандинский - Другой генератор, уже обученный, в котором вы также можете сделать интересующее вас изображение.</h5>
<br>
    <h5>* Генератор картинок - Наш модель, создающая изображения на основе Stable diffusion.</h5>
<br>
    <h5>Скачать результат - При нажатии на данное поле, вы скачиваете последний результат в форме архива</h5>
</div>