@{
    ViewData["Title"] = "Путеводитель";
}
<h1>@ViewData["Title"]</h1>
<h4 align="center">
<p>Наше руководство к эксплуатации.</p>
На этом сайте вы можете найти вкладки:
<br>
* Home - Вернуться на начальную страницу с чатом GPT.
<br>
* Кандинский - Другой генератор, уже обученный, в котором вы также можете сделать интересующее вас изображение.
<br>
* Генератор картинок - Наш модель, создающая изображения на основе Stable diffusion.
<br>
Скачать результат - При нажатии на данное поле, вы скачиваете последний результат в форме архива
</h4>