<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Search Page</title>
</head>
<body>
    <form method="post" action="/Home/search">
        <label for="text">Enter some text:</label>
        <input type="text" name="text" id="text" />
        <button type="submit">Search</button>
    </form>

    @if (ViewBag.ImagePath != null)
    {
        <img src="Home/search" />
    }

</body>
</html>