@{
    ViewData["Title"] = "Resources";
}
<h1>@ViewData["Title"]</h1>

<p>
    Использованные ресурсы:
    <br>
    * Генератор картинок Кандинский От компании Сбер:
    <br>
    https://www.sberbank.com/promo/kandinsky/
    <br>
    * Stable diffusion
    <br>
    https://github.com/CompVis/stable-diffusion
</p>