<!DOCTYPE html>
<html>
<head>
    <title>Command Execution</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#executeButton').click(function () {
                var command = $('#commandInput').val() + "+" + $('#numberInput').val();

                $.ajax({
                    type: 'POST',
                    url: '/Home/Anaconda',
                    contentType: 'application/json',
                    data: JSON.stringify(command),
                    success: function (output) {
                        // Display the output on the frontend
                        $('#outputDiv').text(output);
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="panel-body">
    <h2>Генерация при помощи <br> Stable diffusion</h2>
        <input type="text" class="form-control" id="commandInput" name="commandInput">
        <label for:"commandImput"> Напишите что отрисовать </label>
        <p></p>
        <input type="text" class="form-control" id="numberInput" name="numberInput">
        <label for:"numberInput"> Введите количество итераций </label>
        <p></p>
        <button id="executeButton" class="btn btn-primary">Начать</button>
        <p></p>
    <div id="outputDiv"></div>
    </div>
</body>
</html>